$st-medium: 900px;

$st-danger: #ead7d8;
$st-border-color: #edeae9;
$st-background-primary: #fefefe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  font-size: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  h1 {
    font-size: 4em;
    color: $st-danger;
  }

  button,
  input[type='checkbox'] {
    cursor: pointer;
  }
}

#app {
  position: relative;
  z-index: 3;
  width: 300px;
  background-color: $st-background-primary;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  border: 0.5px solid $st-border-color;
  box-shadow: 0 29px 78px -40px rgba(0, 0, 0, 0.75);
  @media screen and (max-width: $st-medium) {
    max-width: 96vw;
  }
  .task-list-toggle {
    display: flex;
  }

  #todo-input {
    font-style: italic;
    padding: 7px;
    flex-grow: 1;
    opacity: 0.3;
    &-wrapper {
      display: flex;
      align-items: center;
      padding: 4px;
      box-shadow: inset 0 -7px 10px -8px rgba(0, 0, 0, 0.33);
    }
  }
  #filter-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;
    padding: 2px 4px;

    #counter {
      width: 53px;
    }

    #filters {
      display: flex;
      gap: 4px;
      button {
        padding: 1px 5px;
        border: 1px solid transparent;
        &.active {
          border-radius: 2px;
          border-color: $st-danger;
        }
      }
    }
    #clear-completed {
      visibility: hidden;
    }
  }

  &.empty {
    #sheet2,
    #sheet3 {
      display: none;
    }
  }
}

#todo-list {
  div {
    display: flex;
    gap: 8px;
    padding: 8px 4px;
    margin-top: -1px;
    border: 1px solid $st-border-color;
    border-left: none;
    border-right: none;

    &.checkedStyle {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.2);
    }

    .delete-button {
      display: none;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23EAD7D8' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'%3E%3C/path%3E%3C/svg%3E");
      color: $st-danger;
      margin-left: auto;
      &:hover {
        background-color: #f5f5f5;
        border-radius: 5px;
      }
    }

    &:hover > .delete-button {
      display: block;
    }
  }
}

//Checkboxes styles
[type='checkbox'] {
  width: 17px;
  height: 17px;
  color: transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */

[type='checkbox']:checked {
  background-color: currentcolor;
}

[type='checkbox']:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%2396D7CB'/%3E %3C/svg%3E");
}

#sheet2 {
  position: absolute;
  height: 5px;
  width: 295px;
  bottom: -5px;
  background: $st-background-primary;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5px solid $st-border-color;
  box-shadow: inset 0 2px 6px -6px rgba(0, 0, 0, 0.75);
}
#sheet3 {
  position: absolute;
  height: 4px;
  width: 290px;
  background: $st-background-primary;
  bottom: -9px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5px solid #edeae9;
  border-top: 0;
  box-shadow: inset 0 2px 6px -6px rgba(0, 0, 0, 0.75);
}
